<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunline.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="cn.sunline.entity.Score">
    <id column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <id column="COURSE_ID" jdbcType="DECIMAL" property="courseId" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="TEACHER_ID" jdbcType="DECIMAL" property="teacherId" />
  </resultMap>
  <sql id="Base_Column_List">
    STUDENT_ID, COURSE_ID, SCORE, TEACHER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.sunline.entity.ScoreKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCORE
    where STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and COURSE_ID = #{courseId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.sunline.entity.ScoreKey">
    delete from SCORE
    where STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and COURSE_ID = #{courseId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.sunline.entity.Score">
    insert into SCORE (STUDENT_ID, COURSE_ID, SCORE, 
      TEACHER_ID)
    values (#{studentId,jdbcType=DECIMAL}, #{courseId,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, 
      #{teacherId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.sunline.entity.Score">
    insert into SCORE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        STUDENT_ID,
      </if>
      <if test="courseId != null">
        COURSE_ID,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="teacherId != null">
        TEACHER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=DECIMAL},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sunline.entity.Score">
    update SCORE
    <set>
      <if test="score != null">
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="teacherId != null">
        TEACHER_ID = #{teacherId,jdbcType=DECIMAL},
      </if>
    </set>
    where STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and COURSE_ID = #{courseId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sunline.entity.Score">
    update SCORE
    set SCORE = #{score,jdbcType=DECIMAL},
      TEACHER_ID = #{teacherId,jdbcType=DECIMAL}
    where STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and COURSE_ID = #{courseId,jdbcType=DECIMAL}
  </update>
</mapper>